@CHARSET "UTF-8";
#main {
	margin-left:250px;
}

#header {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#row{
	margin-bottom:10px;
}

/* centered form */
#cform {
	text-align:center;
	width:400px;
	margin:0 auto;
	font-size:16px;
}
#cform label{
	float:left;
	text-align:right;
	width:196px;
	height:19px;
}
#cform input[type="text"]{	
	width:190px;
	float:right;
	height:13px;
}
#cform input[type="password"]{	
	width:190px;
	float:right;
	height:13px;
}
#cform input[type="submit"]{
	margin:0 auto;
}

/* left-aligned form */
#lform {
	margin-left:200px;
	font-size:16px;
}
#lform label{
	float:left;
	width:150px;
	text-align:right;
}
#lform textarea{
	width:400px;
	margin-left:2px;
}
#lform input[type="text"]{
	width:400px;
	height:13px;
	margin-left:2px;
}
#lform input[type="submit"]{
	margin-left:150px;
}
#lform input[id="datepick"]{
	margin-left:2px;
	width:400px;
}

#centered {
	text-align:center;
}


#navigation {
	position:fixed;
	width:150px;
	float:left;
	margin-left:7px;
	margin-right:6px;
}
#navigation h2, #navigation hr {
	display: block
	padding: 10px 5px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
#navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#navigation ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#navigation ul li a {
	padding: 8px;
	display: block;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#navigation ul li a:hover {
	background-color: #6495ED;
}


#auction {
	margin-left:250px;
}
#auction div{
	margin-bottom:10px;
}
#auction div h3{
	margin:0 0;
}
#auction div p{
	margin:0 0;
}